<div class="encuentrame">
  <div class="row" *ngFor="let dog of dogs">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="{{dog.image}}" alt="Photo of a Shiba Inu">
          <span class="card-title">{{dog.title}}</span>
        </div>
        <div class="card-content">
          <p>{{dog.description}}</p>
        </div>
        <div class="card-action card-controls">
          <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">mode_comment</i></a>
          <a class="btn-floating btn-large waves-effect waves-light red" (click)="modalMap.openModal()"><i class="material-icons">not_listed_location</i></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fixed-action-btn">
  <a class="btn-floating btn-large waves-effect waves-light red">
    <i class="large material-icons">filter_list</i>
  </a>
</div>

<!-- Modal Structure -->
<mz-modal #modalMap class="modal-map" [fixedFooter]="true" [bottomSheet]="true" [options]="modalOptions">
  <mz-modal-header>
    <h4>Ubicacion</h4>
  </mz-modal-header>
  <mz-modal-content class="modal-map-content">
    <img src="https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=500x400&maptype=roadmap&markers=color:red%7Clabel:C%7C11.019826,%20-74.804051&key=AIzaSyDQ-rRq16rEIUX7-dOk5UBM0eEIwJEGDTk">
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>OK</button>
  </mz-modal-footer>
</mz-modal>