@import '../../../assets/scss/colors';

.login {
    background-color: $mainColor;
    height: 100vh;

    &-wrapper {
        padding-top: 30%;

        &-image {
            text-align: center;

            img {
                width: 40%;
            }
        }

        &-inputs {
            padding: 0 10px;

            .input-field {
                input, label {
                    color: white;
                }
                
                input {
                    border-color: white;
                }
            }

            .log-in-btn {
                color: $mainColor;
                width: 100%;
            }
        }
    }
}