<div class="home">
  <div class="row" *ngFor="let dog of dogs">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="{{dog.image}}" alt="Photo of a Shiba Inu">
          <span class="card-title">{{dog.title}}</span>
        </div>
        <div class="card-content">
          <p>{{dog.description}}</p>
        </div>
        <div class="card-action card-controls">
          <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">favorite</i></a>
          <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">more_horiz</i></a>
        </div>
      </div>
    </div>
  </div>
</div>
